packages:
  yum:
    git: []
    amazon-linux-extras: []
commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
    command: sudo yum install -y postgresql-devel
  create_swapfile:
    test: test ! -e /var/swapfile
    command: |
      dd if=/dev/zero of=/var/swapfile bs=1M count=2048
      chmod 600 /var/swapfile
      mkswap /var/swapfile
      swapon /var/swapfile
  create_home_webapp:
    test: mkdir /home/webapp
    command: |
      sudo mkdir -p /home/webapp
      sudo chown webapp:webapp /home/webapp
      sudo chmod 700 /home/webapp