<nav class="bg-blue-500 p-4 text-white">
	<div class="container mx-auto">
		<div class="flex justify-left">
			<%= link_to "Team Sorter", root_path, class: "text-xl font-semibold pr-6" %>
			<ul class="flex space-x-4">
				<li><%= link_to "Players", players_path %></li>
				<li><%= link_to "Admins", admin_index_path %></li>
				<li><%= link_to "Venues", venues_path %></li>
			</ul>
		</div>
	</div>
</nav>